.about_para {
    text-align: justify;
    text-justify: inter-word;
    text-shadow: 0 10px 15px rgb(0, 0, 0);
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-right: 120px;
}

.about_text {
    position: relative;
    overflow: hidden;
    top: 50%;
    right: 20%;
    left: 2%;
}

.skills_text {
    position: relative;
    top: 50%;
}

.skills_para {
    margin-top: 4%;
    margin-right: 15%;
    margin-left: 8%;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 15px rgb(0, 0, 0);
    display: none;
}

.myBtn {
    background-color: #ff4d5a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    margin: 4px 2px;
    cursor: pointer;
}

.skill_table {
    color: #fff;
    margin-top: 5%;
    margin-left: 5%;
    text-shadow: 0 10px 15px rgb(0, 0, 0);
    left: 0%
}

.skill_table .right .bars {
    margin-bottom: 15px;
}

.skill_table .right .info {
    margin-right: 20%;
    margin-left: 10%;
    display: flex;
    margin-bottom: -0.1%;
    align-items: center;
    justify-content: space-between;
}

.skill_table .right span {
    font-weight: bold;
    font-size: 15px;
}

.skill_table .right .line {
    height: 5px;
    left: 10%;
    width: 70%;
    background: #ff4d5a;
    position: relative;
}

.skill_table .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
}

.skill_table .right .cpp::before {
    width: 90%;
}

.skill_table .right .python::before {
    width: 80%;
}

.skill_table .right .html::before {
    width: 60%;
}

.skill_table .right .css::before {
    width: 60%;
}

.skill_table .right .js::before {
    width: 50%;
}

.skill_table .right .ml::before {
    width: 80%;
}

.skill_table .right .selenium::before {
    width: 90%;
}

.skill_table .right .bash::before {
    width: 60%;
}

.skill_table .right .mysql::before {
    width: 80%;
}

.skill_table .right .docker::before {
    width: 40%;
}

.skill_table .right .aws::before {
    width: 40%;
}

.skill_table .right .photoshop::before {
    width: 60%;
}

.skill_table .right .illustrator::before {
    width: 50%;
}

.skill_table .right .pro::before {
    width: 50%;
}

#comp {
    background-color: white;
    border: none;
    color: #ff4d5a;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#wip {
    background-color: #ff4d5a;
    border: none;
    color: white;
    font-weight: normal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.local_transition-red {
    position: relative;
    width: 1000px;
    height: 1000px;
    right: 220%;
    background: #ff4d5a;
}

.local_transition-blace {
    position: relative;
    width: 1000px;
    height: 1000px;
    right: 200%;
    background: #072142;
}

.achievements {
    font-weight: bold;
    text-shadow: 5px;
    position: relative;
    overflow: hidden;
    height: 25%;
    width: 50%;
    padding: 20px;
    transition: .3s
}

.achi_1 {
    position: relative;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    top: 50%;
}

.achi_1:hover {
    transform: scale(1.1);
}

.achi_2 {
    position: relative;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    left: 50%;
    top: 40%;
}

.achi_2:hover {
    transform: scale(1.1);
}

.readme {
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.achivement_title {
    font-size: 18px;
}

.achievement_decs {
    font-size: 11px;
}

.achi {
    width: 50%;
}

.layers_size {
    height: 100%;
    width: 100%;
}


/* 
.self_self {
    background-image: linear-gradient(321deg, rgba(63, 94, 251, 0.25) 43%, rgba(252, 70, 107, 0.25) 69%), url("../IMG/reile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.self_skills {
    background-image: url("../IMG/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* .self_tool {
    background-image: url("../IMG/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.self_achi {
    background-image: url("../IMG/Achiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.show-big {
    display: none;
}

.skills {
    font-weight: bold;
    background-color: white;
    color: #ff4d5a;
}

.journey {
    background-color: #ff4d5a;
    color: #ffffff;
}


/* new shit */


/* new shit ends */

@media only screen and (max-width: 800px) {
    /* default iPad screens */
    .moon__text-wrap {
        position: relative;
        left: -15.5963%;
        right: 20%;
        top: 50%;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}