.about_para {
    text-align: justify;
    text-justify: inter-word;
    text-shadow: 0 10px 15px rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.about_text {
    position: absolute;
    overflow: hidden;
    top: 50%;
    right: 20%;
    left: 2%;
}

.skills_text {
    position: relative;
    top: 50%;
    margin-right: 60%;
}

.skills_para {
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 15px rgb(0, 0, 0);
}

.myBtn {
    background-color: #ff4d5a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.skill_table {
    color: #fff;
    margin-top: 10px;
    margin-left: 5%;
    text-shadow: 0 10px 15px rgb(0, 0, 0);
}

.skill_table .right .bars {
    margin-bottom: 15px;
}

.skill_table .right .info {
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skill_table .right span {
    font-weight: bold;
    font-size: 15px;
}

.skill_table .right .line {
    height: 5px;
    left: 25%;
    width: 50%;
    background: #ff4d5a;
    position: relative;
}

.skill_table .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #072142;
}

.skill_table .right .cpp::before {
    width: 90%;
}

.skill_table .right .python::before {
    width: 80%;
}

.skill_table .right .html::before {
    width: 60%;
}

.skill_table .right .css::before {
    width: 60%;
}

.skill_table .right .js::before {
    width: 50%;
}

.skill_table .right .ml::before {
    width: 80%;
}

.skill_table .right .selenium::before {
    width: 90%;
}

.skill_table .right .bash::before {
    width: 60%;
}

.skill_table .right .mysql::before {
    width: 80%;
}

.skill_table .right .docker::before {
    width: 40%;
}

.skill_table .right .aws::before {
    width: 40%;
}

.skill_table .right .photoshop::before {
    width: 60%;
}

.skill_table .right .illustrator::before {
    width: 50%;
}

.skill_table .right .pro::before {
    width: 50%;
}

.project_tiles {
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.project_title {
    font-size: 70%;
}

.type-1 {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    height: 1000px;
    width: 250px;
    transition: 0.3s;
}

.type-1:hover {
    transform: scale(1.05);
}

.cover {
    position: relative;
    border: 10px solid;
    border-color: #ff4d5a;
    background-size: cover;
    background-position: center;
    background-color: #ff4d5a;
}

.header {
    font-weight: bold;
}

.tag {
    font-size: 30%;
}

.link {
    color: rgb(0, 0, 0);
    font-size: 40%;
}

.description {
    font-size: 35%;
    position: relative;
    overflow: hidden;
    border: 10px solid;
    border-color: #1d1d1d;
    background-position: center;
    background-color: #1d1d1d;
    height: 110px;
    width: 210px;
}

#completed {
    left: 0%;
}

.completed {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px;
    position: absolute;
    overflow: hidden;
    top: 5%;
    margin-right: 10%;
    margin-left: 5%;
    padding: 10px;
    transition: .5s;
}

#work_in_progress {
    left: 200%;
}

.work_in_progress {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px;
    position: absolute;
    overflow: hidden;
    top: 5%;
    margin-right: 10%;
    margin-left: 5%;
    padding: 10px;
    transition: .5s
}

#open_source {
    left: 200%;
}

.open_source {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px;
    position: absolute;
    overflow: hidden;
    top: 5%;
    margin-right: 10%;
    margin-left: 5%;
    padding: 10px;
    transition: .5s
}

#comp {
    background-color: white;
    border: none;
    color: #ff4d5a;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#wip {
    background-color: #ff4d5a;
    border: none;
    color: white;
    font-weight: normal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#os {
    background-color: #ff4d5a;
    border: none;
    color: white;
    font-weight: normal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.local_transition-red {
    position: relative;
    width: 1000px;
    height: 1000px;
    right: 220%;
    background: #ff4d5a;
}

.local_transition-blace {
    position: relative;
    width: 1000px;
    height: 1000px;
    right: 200%;
    background: #072142;
}

.achievements_tiles {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.achievements {
    font-weight: bold;
    text-shadow: 5px;
    position: absolute;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    transition: .3s
}

.achi_1 {
    position: absolute;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    top: 310px;
    left: 0;
    height: 194px;
    width: 345px;
    background: transparent;
    z-index: 500;
}

.achi_1:hover {
    transform: scale(1.3);
}

.achi_2 {
    position: absolute;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    top: 100px;
    right: 0;
    height: 194px;
    width: 345px;
    background: transparent;
    z-index: 500;
}

.achi_2:hover {
    transform: scale(1.3);
}

.readme {
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.achivement_title {
    font-size: 18px;
}

.achievement_decs {
    font-size: 11px;
}

.achi {
    width: 50%;
}

.layers_size {
    height: 100%;
    width: 100%;
}


/* 
.self_self {
    background-image: linear-gradient(321deg, rgba(63, 94, 251, 0.25) 43%, rgba(252, 70, 107, 0.25) 69%), url("../IMG/reile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.self_skills {
    background-image: url("../IMG/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* .self_tool {
    background-image: url("../IMG/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.self_achi {
    background-image: url("../IMG/Achiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {}